DATABASE_URL="postgresql://fingest:fingest_dev_password@db:5432/fingest?schema=public"
JWT_ACCESS_SECRET="troque_este_segredo_de_acesso"
JWT_REFRESH_SECRET="troque_este_segredo_de_refresh"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3333
